*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
    font-weight: 300;
    color: #110c17!important;
}
.layout {
  display: flex;
  height: 100vh;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    transition: margin-left 0.35s cubic-bezier(0.4, 0, 0.2, 1);

    background: #ffffff;
}
.content .container{
    width: 100%!important;
    max-width: 100%!important;
    margin: 0!important;
}

.layout:has(.sidebar.collapsed) .main{
    margin-left: 70px;
}

.topbar {
  background: white;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.content {
  padding: 20px;
}
body{
    background-color: #ffffff!important;
    overflow-x: hidden;
    overflow-y: auto;
}
main{
    flex: 1;

    min-width: 0;

    display: flex;
   flex-direction: column;

   .content{
        flex: 1;
        padding: 20px;

        overflow-x: hidden;
    }

}
@font-face {
    font-family: 'Outfit';
    src: url('/src/assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
    /* src: url('@/assets/fonts/Outfit-VariableFont_wght.ttf'); */
    font-style: normal;
    font-weight: 100 900;
    color: white;
}
.container{
    padding: 0!important;
    margin: auto;
    color: #1c0922;
}
.title{
    font-size: 35px;
    font-weight: 900;
    color: #1c0922;
    line-height: 42px;
}
.desc{
    font-size: 16px;
    color: white;
    display: block;
    text-align: center!important;
    line-height: 19px;
}
/* ============================================================ */
/* Button */
button{
    border: 0!important;
}
.btn.rounded-pill, .btn-offcial.rounded-pill{
    border-radius: 11px!important;

}
.btn, .btn-offcial{
    border-radius: 11px!important;
    text-decoration: none;
    color: white!important;
    padding: 8px 25px!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    font-size: 15px!important;
    font-weight: 450!important;
    transition: 0.5s!important;
}
.btn-offcial.btn-color-cancel:hover{
    background-color: #cdcad1!important;
    box-shadow: 0 0 55px 5px #d8d5d9ab!important;
}
.btn-offcial.btn-color-cancel{
    color: rgb(93, 93, 93)!important;
    background-color: #e0dde4!important;
}
.btn-offcial.btn-color-warning:hover{
    box-shadow: 0 0 55px 5px #ab6e6eab!important;
    background-color: rgb(119, 5, 5);
}
.btn-offcial.btn-color-warning{
    background-color: rgb(144, 7, 7);
}
.btn-offcial.btn-color{
    background: linear-gradient(90deg, #6F00FF 0%, #A500D9 100%);
}
.btn-offcial.btn-color:hover{
    box-shadow: 0 0 55px 5px #c300ff5f;
}
.btn-offcial.btn-no-color{
    position: relative;
    background-color: #ffffff20;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.334)!important;
}
.btn-offcial.btn-no-color:hover{
    background-color: #ffffff38;
    box-shadow: 0 0 55px 5px #ffffff2f;
}
.btn:focus{
    border: 0!important;
}
/* ============================================================= */
/* Side bar */
.logo-anim-enter-active,
.logo-anim-leave-active {
  transition: all 0.3s ease;
}

/* when appearing */
.logo-anim-enter-from {
  opacity: 0;
  transform: translateX(-10px) scale(0.9);
}

/* when fully shown */
.logo-anim-enter-to {
  opacity: 1;
  transform: translateX(0) scale(1);
}

/* when disappearing */
.logo-anim-leave-from {
  opacity: 1;
  transform: translateX(0) scale(1);
}

/* when fully hidden */
.logo-anim-leave-to {
  opacity: 0;
  transform: translateX(-10px) scale(0.9);
}
/* =============== */
.sidebar {
    width: 300px;
    min-width: 300px;
    height: 100vh;
    position: fixed!important;
    top: 0;

    border-right: 1px solid #ddd;
    background: #f7f7f7;
    padding-inline: 10px;
    overflow: hidden;
    /* transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1); */
    transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1)!important;
}

.sidebar.collapsed {
    width: 70px;
    min-width: 70px;
    transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

/* HEADER */
.sidebar-header {
  display: flex;
  justify-content: center;
  /* padding: 16px; */
}


.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li{
    margin-bottom: 5px;
}

/* LINK */
.menu-link {
  position: relative;

  display: flex;
  align-items: center;

  height: 42px;
  width: 100%;

  padding-left: 50px;

  text-decoration: none;
  color: inherit;
  border-radius: 8px;

  transition: 0.5s;
}

.sidebar .menu-link:hover {
    background-color: #ffffff;
    box-shadow: 0 0 8px 0px #dfdde0;
}
.sidebar .menu-link:hover .icon{
    stroke: #7e05a3!important;
}
.sidebar .menu-link:hover .label{
    color: #7e05a3!important;
    font-weight: 500!important;
}
.router-link-active.menu-link{
    background-color: #ffffff;
    box-shadow: 0 0 8px 0px #dfdde0;

}
.router-link-active.menu-link .label,
.router-link-active.menu-link .icon {
    /* background-color: #e7e1e85f; */
    color: #7e05a3!important;
    stroke: #7e05a3;
}
.icon{
    stroke-width: 1.5px!important;
}
.sidebar .icon {
    position: absolute;

    left: 13px;
    top: 50%;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;
    stroke-width: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: black;
}
.sidebar-toggle:hover,
.sidebar-toggle:hover .collapse-icon{
    background-color: #e7e1e85f;
    stroke: #7e05a3!important;
}
.sidebar-toggle{
    width: 50px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
    background-color: transparent;
}
.sidebar .label {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 450;

  margin-left: 8px;

  max-width: 200px;
  opacity: 1;
  transform: translateX(0);

  overflow: hidden;

  transition:
    opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    max-width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    margin 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.collapse-icon{
    stroke: #363636;
    stroke-width: 1.5px!important;
    
}
.sidebar.collapsed .label {
  opacity: 0;
  transform: translateX(-6px);
  max-width: 0;
  margin-left: 0;
}
.menu-inside .menu-link .icon{
    width: 20px;
    height: 20px;
}
.menu-inside{
    list-style: none;
    padding: 0;
}
.group-title{
    font-weight: 450;
    font-size: 12px;
    margin-bottom: 5px;
}
/* KEEP ICON POSITION STABLE */
.group-title-anim-enter-active,
.group-title-anim-leave-active {
  transition: all 0.25s ease;
}

/* entering */
.group-title-anim-enter-from {
  opacity: 0;
  transform: translateX(-8px);
}

.group-title-anim-enter-to {
  opacity: 1;
  transform: translateX(0);
}

/* leaving */
.group-title-anim-leave-from {
  opacity: 1;
  transform: translateX(0);
}
/* ============================================================*/
/* Input Style */
/* textarea.form-control {
    display: block !important;
    height: 100px !important;
    overflow-y: auto;
    resize: vertical;
    line-height: 1.5;
    padding: 12px;
} */
 .auto-resize {
    overflow: hidden;
    resize: none;
    min-height: 100px;
}
input, .form-control{
    line-height: 0!important;
    font-size: 15px!important;
    border-radius: 10px!important;
    outline: 0!important;
    padding: 10px 15px!important;
    color: #1a0e1d!important;
    background-color: rgba(255, 255, 255, 0.049)!important;
    transition: 0.45s!important;
    border: 1.5px solid rgba(157, 157, 157, 0.601)!important;
    font-weight: 400!important;
    
}
input::placeholder, .form-control::placeholder{
    font-size: 15px!important;
    color: rgba(190, 190, 190, 0.252)nt;
    font-weight: 300!important;
}
input:hover, .form-control:hover{
    box-shadow: 0 0 4px 1px #bfaed4da!important;
    border: 1.5px solid rgba(157, 157, 157, 0.601)!important;
    background-color: rgba(255, 255, 255, 0.188)!important;
}
input:focus, .form-control:focus{
    background-color: rgba(255, 255, 255, 0.137)!important;
    border: 1.5px solid rgba(157, 157, 157, 0.601)!important;
    outline: none!important;
    box-shadow: 0 0 4px 1px #bfaed4da!important;
}
label{
    font-size: 15px;
    color: white;
    font-weight: 400;
    margin-bottom: 8px;
}
label.normal{
    font-size: 14px!important;
    font-weight: 400;
}
.form-control-err{
    border: 1.5px solid rgb(209, 14, 14)!important;
    background-color: rgba(255, 0, 0, 0.081)!important;
}
.form-control-err:hover, .form-control-err:focus{
    background-color: rgba(255, 0, 0, 0.081)!important;
    box-shadow: 0 0 4px 1px #dea9a9e0!important;
    /* background-color: rgba(255, 0, 0, 0.188)!important; */
    border: 1px solid rgba(255, 50, 50, 0.593)!important;
}

form .warning-msg-input{
    display: block;
    margin-top: 7px!important;
    color: rgb(216, 2, 2)!important;
    font-size: 14px!important;
    font-weight: 450;
    line-height: 18px!important;
    width: 100%;
}
/* ========================================================= */
/* Check box */ 
.input[type="checkbox"] {
    display: none;
}
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.185);
    /* border: 2px solid #474747; */
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}
.custom-checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    background: rgba(255, 255, 255, 0.622);
    border-radius: 2px;
    opacity: 0;
}
.input[type="checkbox"]:checked+.custom-checkbox::after {
    opacity: 1;
}
/* ================================================================== */
.no-link-footer{
    bottom: 0!important;
    left: 0;
    width: 100%!important;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(197, 197, 197)!important;
    font-size: 14px!important;
    margin-bottom: 0!important;

}
/* =========================================== */
/* Loading Style */
#nprogress .bar {
  height: 2px!important;
  box-shadow: 0 0 5px 5px #c300ff3f!important;
  background: #A500D9!important; 
}
.modal{
    .modal-dialog .modal-content{
        border-radius: 24px!important;
    }
    .modal-title-sm{
        font-size: 16px;
        font-weight: 450;
        text-align: center;
        display: flex;
    }
    .modal-header{
        padding-block: 10px;
        border: none;  
        display: flex;
        align-items: center; 
        justify-content: center;
    }
}
.title-form{
    font-size: 18px;
    font-weight: 560;
}
.form-control.disabled{
    background-color: #f1f1f1!important;
}
.form-control.disabled:hover{
    box-shadow: none!important;
}
button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}
/* ================================================ */
.p-toast-message, .p-toast-message-content{
    border-radius: 18px!important;
}
.p-toast .p-toast-summary{
    font-weight: 550;
}
.p-toast-message-text{
    gap: 0!important;
}
.p-toast-message-success{
    .p-toast-message-content{
        border: 1px solid #b8dec677;
        background-color: rgb(227, 244, 231)!important;
    }
    .p-toast-summary {
        color: #0b7934!important;
        margin-bottom: 0!important;
    }
}
.p-toast-message-content{
    padding: 15px!important;
    gap: 15px!important;
}
.p-toast-message-content .p-toast-message-icon{
    stroke: #13b64e!important;
    color: #0b7934;
}
.p-toast-detail{
    font-weight: 400!important;
}